@font-face {
    font-family: 'Poppins Bold';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Poppins-Bold.ttf?v=1722113504917') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Poppins-Regular.ttf?v=1722113497826') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to right, #499F68, #16697A);
    color:white;
}


nav {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    flex-grow: 0; 
    text-align: center; 
    padding-bottom: 5px;
    margin-top: 10px;
    border-bottom: 2px solid white;
}

nav ul {
    padding: 10px; 
    margin: 0px; 
}

nav li { 
    display: inline-block; 
    text-align: center; 
    font-size: 25px; 
    margin-left: 50px; 
    margin-right: 50px; 
}

a {
    color: white; 
    font-weight:bold; 
    text-decoration: none;}

a:hover { color: #16697A; 
    background-color: white;
    padding: .4rem;
    border-radius: 10px;
 }

main {
    font-family: 'Poppins', sans-serif;
}

/* INDEX SECTION */
#index-main {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#info{
    padding-left: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding-right:4rem;
}

#index-main h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    justify-content: center;
    align-items: center;
    line-height: 0;
    color: white;

}
#index-main h2{
    font-size: 2rem;
    line-height: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-style: italic;
}

#learnMore a {
    color: #16697A; 
    background-color: white;
    font-weight:bold; 
    padding: .4rem;
    border-radius: 10px;
    text-decoration: none;}

 a:hover { color: #16697A; 
        background-color: white;
        padding: .4rem;
        border-radius: 10px;
    }


/* GAME SECTION */

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin: 20px auto;
}


/* ABOUT SECTION */
#about-main {
    margin-top: 50px;
    text-align: center;
}

#about-main section {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
    /* margin-top: 20px; */
}

.bio {
    text-align: center;
    max-width: 200px;
    padding: 30px;
}


.bio img {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #000; 
    margin-bottom: 5px;
}

.bio h2, .bio p {
    margin: 10px 0;
}

#about-desc {
    max-width: 70%;
    margin: 0 auto;
}

/*INFO SECTION*/

#info-main section {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
    /* margin-top: 20px; */
}

#section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading{
    padding-left: 10rem;
    padding-right: 5rem;
}
.heading h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
}
.content{
    padding-left: 5rem;
    padding-right:5rem;
}
.heading h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
    justify-content: center;
    align-items: center;
    color: white;
}