@font-face {
    font-family: 'Poppins Bold';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Poppins-Bold.ttf?v=1722113504917') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Poppins-Regular.ttf?v=1722113497826') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #cdffd8, #94b9ff);
}

nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    /* flex-direction: row;  */
}

main {
    font-family: 'Poppins', sans-serif;
}